* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    box-shadow: 0 3px 5px -5px gray;
}

main {
    display: grid;
    place-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar__logo {
    font-size: 2rem;
    color: #000;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* HAMBURGER ICON */

.hamburger {
    display: block;
    cursor: pointer;
    z-index: 3;
    border: none;
    background-color: inherit;
}

.hamburger__bar {
    display: block;
    background-color: #000;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger--close .hamburger__bar {
    background-color: #fff;
}

.hamburger--close .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger--close .hamburger__bar:nth-child(2) {
    opacity: 0;
}

.hamburger--close .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* MENU */

.menu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272525;
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 100%;
    height: 100%;
    padding: 3rem;
    padding-top: 5rem;
    margin: 0;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.menu--active {
    opacity: 1;
    visibility: visible;
}

.menu__item {
    padding: 1.5rem;
}

.menu__link {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    transition: color 0.3s ease;
}

.menu__link:hover {
    color: rgb(155, 155, 155);
}

.menu__link:active {
    color: rgb(84, 17, 148);
}

@media only screen and (min-width: 600px) {
    .menu {
        width: 40%;
    }
}

@media only screen and (min-width: 1000px) {
    .menu {
        width: 20rem;
    }
}


